.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cart with connect */
.productCard {
  width: auto;
  height:auto;
  background-color: salmon;
  color:white;
  font-size:19px;
  font-family: sans-serif;
  float:left;
  position:relative;
  text-align:center;
  border:1px solid orange;
}

.productImage{
  width:150px;
  height:150px;
  /* float:left; */
  /* position:absolute; */
}

.productName{
  /* float:left; */
  /* position:absolute; */
}

.cartheader {
  width:100%;
  height:60px;
  background-color: salmon;
  color:white;
}

.cartImage{
  margin-left:15px;
  margin-right:;
  margin-top:15px;
  width:30px;
  height: 30px;
  float:right;
}